<div class="center jumbotron">
  <h1><%= t".welcome" %></h1>

  <h2>
    <%= t".location" %>
    <a href="http://www.railstutorial.org/"><%= t".ruby_tutorial" %></a>
    <%= t".text" %>
  </h2>

  <%= link_to t(".sign_up_now"), signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: t(".r_logo")),'http://rubyonrails.org/' %>
